.accountName{
    padding-top: 9px;
    font-weight: 600;
}
.buttonAlignment{
    padding-left: 35%;
}
.centerAlign{
    padding-left: 44%;
}
.centerAlign1{
    padding-left: 38%;
}
.slds-spinner_container{
    top: 109px;
    bottom: 98px;
}