.padding{
    padding-top:20px;
}
.buttonAlignment{
    padding-left: 44%;    
    padding-top: 2%;    
}
.cancelButton{
  margin-left:2%;
}
.heading{
  background-color: #d8d8da;
  font-weight: bold; 
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.subheading{
text-align: left;
}
.error{
  color: #FF0000
}