.padding{
    padding-top: 20px;
  }
  .heading{
    background-color: #d8d8da;
    font-weight: bold; 
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subheading{
    text-align: left;
}
.btnPadding{
    left-padding : 10%;
}
.buttonAlignment{
    padding-left: 44%;
    padding-top: 2%;
  }
.buttnPadding{
    margin-right: 6px;
}