.THIS {
}

.THIS h2 {
  font-weight: bold;
  font-size: 16px;
}

.THIS .singleLine {
    overflow: hidden !important;
    white-space: nowrap !important;
}


.THIS .errorText {
    color: red !important;
}

.THIS ul {
  padding-left: 10px;
}

.THIS .slds-align_absolute-center {
  display: block;
}

.THIS section.slds-modal.slds-fade-in-open {
  max-width: 90rem!important;
  width: 90%!important;
  margin: 0 auto;
}

.THIS .slds-modal__close {
  margin-right: 10px;
} 

.THIS .iframeWrapper {
  margin: 5px!important;
}