.checkboxPadding{
    float: left;
    padding-top: 1%;
}
.formMargin{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
  }
  .checkboxLabelPadding{
    padding-top: 2%;
  }
  .buttonAlignment{
    text-align: center;
  }
  .checkboxPaddingTranscript{
    padding-top: 1%;
  }
  .errormsgName{
    color:#ff0000;
    font-size: 13px;
  }
  .headerText{
    font-size: 16px;
    font-weight: bold;
  }
  .incompleteLanguage{
    font-size: 16px;
    font-weight: bold;
  }
  .modContHdr{
    font-size: 13px;
    font-weight: bold;
  }
  .slds-dropdown{
   left: 41%
  }
  .showLabelText.slds-assistive-text {
    width: auto !important;
    height: auto !important;
    position: relative !important;
  }
  .bText{    
    font-weight: bold;
  }