.padding {
  padding-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}
.stepHeader {
  font-size: 20px;
}
.header {
  line-height: 2;
}

.gridSize {
  width: 50%;
  border: 0;
}

.gridHeader {
  font-size: large;
}

.gridColPadding {
  padding-bottom: 20px;
}

.formMargin {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 20px;
}

.degree-issue-date .slds-form-element__icon {
  position: absolute;
  left: -64%;
  bottom: 15px;
}
.buttonAlignment {
  padding-left: 35%;
  padding-top: 2%;
  top: 57px;
  left: 43px;
}

.errormsg {
  color: #ff0000;
  font-size: 13px;
}

.successmsg {
  color: #4bb543;
  font-size: 13px;
}

.transferCreditsCheckbox {
  position: relative;
  top: 15px;
}

.headerbackground {
  background-color: #f3f2f2;
}

.schoolProgram > label {
  display: none;
  visibility: hidden;
}

.add-icon,
.delete-icon {
  cursor: pointer;
}

.slds-no-cell-focus .slds-has-error,
.slds-no-cell-focus .slds-has-error:hover {
  background-color: white;
  box-shadow: none;
}

.monthPicklist.slds-has-error,
.otherSchoolRecord.slds-has-error {
  border-width: 2px;
}

.footer {
  height:100px !important;
}
.THIS .slds-dropdown-trigger .slds-dropdown {
  height: 250px;
  overflow: auto;
}
.readonly-startmonth, .readonly-startyear {
  float:left;
}
.readonly-startyear {
  padding-left: 5px;
}
.readonly-endmonth, .readonly-endyear {
  float:left;
}
.readonly-endyear {
  padding-left: 5px;
}

.cloudDocumentUpload .slds-align_absolute-center {
  display: block;
}

.cloudDocumentUpload section.slds-modal.slds-fade-in-open {
  max-width: 90rem!important;
  width: 90%!important;
  margin: 0 auto;
}

.cloudDocumentUpload .slds-modal__close {
  margin-right: 10px;
}

.cloudDocumentUpload .iframeWrapper {
  margin: 5px!important;
}
.tcTableWrapper.tcMainSection.transferCreditSection{
  z-index: 1;
}